<html>
<head>
  <title>Tic Tac Trouble</title>
  <link rel="stylesheet" type="text/css" href="game.css">
  <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div class="title"><span class="odd">R</span>abbit <span class="odd">D</span>ice</div>
    <div class="dice"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQWpQWEhsZXyQv39zkckNnsJJnRW2lgzQtLBQgnNhf2WWDVaUBc" align="middle"/> </div>
    <div class="but"><a href="games/new"<button class="btn">Play Now </button></a>
    </div>
  </div>

</body>
</html>

