
<html>
<head>
 <title>Zombie<br/>Bunny</title>
 <link rel="stylesheet" type="text/css" href="game.css">
 <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="container1">
   <div class="title1"><span class="odd"></span>Zombie <br/> <span class="odd"></span>Bunny</div>
   <!-- <div class="dice"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQWpQWEhsZXyQv39zkckNnsJJnRW2lgzQtLBQgnNhf2WWDVaUBc" align="middle"/> </div> -->
   <div class="but"><a href="games/new"<button class="btn">Start Game </button></a>
   </div>
 </div>

</body>
</html>

