<div class="winnercontainer"> 
  <div class="winner"> <%=@game.winner%> is the winner! </div>
  <div class="playagain"><a href="games/new"><button class="play">Play Again?</button></a></div> 
</div>

