
body {
  margin:0;
  width: 100%;
}

.container {
  background-image: url(http://oldcatman-xxx.com/wp-content/uploads/2013/03/bunny_hop_animation_by_jekupeku-d4n4t59.gif);
  height: 1000px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-border: 10px solid black;
}

.title {
  font-family: 'Nosifer', 'cursive';
  color: #8F061D;
  font-size: 80px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.odd {
  font-family: 'Nosifer', 'cursive';
  color: black;
}

.dice img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.but {
  padding-top: 200px;
}

.btn {
  text-align: center;
  width: 200px;
  border: 1px solid black;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 19px 38px;
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
 /*  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
  /* box-shadow: rgba(0,0,0,1) 0 1px 0;*/
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ff0d0d;
   font-size: 19px;
   font-family: 'Nosifer', 'cursive';
   text-decoration: none;
   vertical-align: middle;
   }
.btn:hover {
   background: #8F061D;
   color: #000000;
   }
.btn:active {
   background: #5daee3;
   }

/* -----------new.html.erb------------- */

.newcontainer {
  background-image: url('/assets/background.png');
  height: 1000px;
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100%;
  background-size: 100%;
  background-border: 10px solid black;
}

.create {
  font-family: 'Rock Salt', 'cursive';
  font-size: 60px;
  padding-left: 30px;
  padding-top: 70px;

}

.newform {
  font-family: 'Rock Salt', 'cursive';
  display: none;
}



.register {
  padding-left: 180px;
}

#reg {
  font-family: 'Rock Salt', 'cursive';
  text-decoration: none;
  background:none;
  border:none;
  margin:0;
  font-size: 20px

}

#reg:hover{
  color:white
}

.class {
  color: red;
  background-color: black;
  border: 1px solid black;
}

/* --------index--------- */

.container1 {
 height: 1000px;
 background-image: url('/assets/background.png');
 background-repeat: no-repeat;
 background-position: fixed;
 width: 100%;
 background-size: 100%;
 background-border: 10px solid black;
}


.title1 {
 font-family: 'Nosifer', 'cursive';
 color: black;
 font-size: 6em;
 margin: 0 auto;
 padding-right: 640px;
 width: 50%;
 text-align: left;

}

.odd {
 font-family: 'Nosifer', 'cursive';
 color: black;
}

.dice img {
 display: block;
 margin-left: auto;
 margin-right: auto;

}

.but {
 padding-top: 61px;
 padding-right: 864px
}

.btn {
 text-align: center;
 max-width: 200px;
 width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(top, #E90000, black);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: -ms-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  padding: 8px 60px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
/*  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
 /* box-shadow: rgba(0,0,0,1) 0 1px 0;*/
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #D41919;
  font-size: 23px;
  font-family: 'Nosifer', 'cursive';
  text-decoration: none;
  vertical-align: middle;
  }
.btn:hover {
  background: black;
  color: #F72C2C;
  }
.btn:active {
  background: #5daee3;
  }

  /*---------------winner-----------------*/

.winnercontainer {
  background-image: url('http://oldcatman-xxx.com/wp-content/uploads/2013/03/bunny_hop_animation_by_jekupeku-d4n4t59.gif');
  height: 900px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.winner {
  font-family: 'Nosifer', 'cursive';
  margin: auto;
  width: 50%;
  color: #800000;
  text-align: center;
  font-size: 80px;
}

.playagain {
  margin: auto;
  width: 50%;
  padding-left: 500px;
  padding-top: 300px;
}

.play {
   border-top: 1px solid black;
   background: transparent;
   padding: 20px 40px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 20px;
   font-family: 'Nosifer', 'cursive';
   text-decoration: none;
   vertical-align: middle;
   }
.play:hover {
   border-top-color: #800000;
   background: #800000;
   color: #f7f7f7;
   }
.play:active {
   border-top-color: #000000;
   background: #000000;
   }
  /*---------------media------------------/*

@media only screen and (max-width: 1400px) {
  .create {
  font-size: 40px;
  }

  .register {
  padding-left: 80px;
  }
}
@media only screen and (max-width: 1250px) {

  .title1 {
    font-size:4.5em;
  }
  .winner {
  color: green;
  }
}
@media only screen and (max-width: 950px) {
  .btn {
  font-size: 15px;
  text-align: center;
  }
   .title1 {
  font-size: 3.5em;
  width: 100px;
  padding-left:10px;
  }

}



@media only screen and (max-width: 900px) {
  .create {
  font-size: 25px;
  }
  .register {
  padding-left: 60px;
  }
  #reg {
  font-size:10px;
  }
  .newform {
  font-size: 10px;
  }
}

/* -----------show.html.erb------------- */

.showcontainer {
  background-image: url(zombie.png);
  height: 850px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  background-border: 10px solid black;

}
.showtitle{
 font-family: 'Rock Salt', 'cursive';
  font-size: 50px;
  padding-left: 300px;
  padding-top: 170px;
  color: #CC0E0E;

}

.show_buttons{
  padding-left: 420px;
  margin-bottom: 30px
}

.roll{
   text-align: center;
   max-width: 200px;
   width: 100%;

  display: block;
  margin-left: 30px;
  margin-right: auto;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(top, #6B2121, rgb(19, 6, 6));
  padding: 1px 10px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border:none;
/*  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
 /* box-shadow: rgba(0,0,0,1) 0 1px 0;*/
/*  text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
  color: #7A0F0F;
  font-size: 23px;
  font-family: 'Rock Salt', 'cursive';
  text-decoration: none;
  vertical-align: middle;
  float:left;

}

.roll:hover {
  background: -webkit-linear-gradient(top, rgb(19, 6, 6), #6B2121);
  color: #C24242;
  }






